{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-stage-0"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@docs": "./src/__docs__",
          "@tests": "./src/__tests__",
          "@components": "./src/components",
          "@config": "./src/config",
          "@lib": "./src/lib",
          "@reducers": "./src/reducers",
          "@resources": "./src/resources",
          "@sagas": "./src/sagas",
          "@screens": "./src/screens",
          "@services": "./src/services",
          "@styles": "./src/styles"
        }
      }
    ]
  ]
}
